{% extends 'base.html' %}

{% block title %}Konfirmasi{% endblock title %}

{% block main %}
<div class="container d-flex vh-100">
  <div class="row justify-content-center align-self-center w-100">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-lg">
        <div class="card-body">
          <h1 class="card-title text-center mb-4">Konfirmasi</h1>
          <div id="confirmationDetails" class="row">
            <div class="col-6">
              <div class="mb-3">
                <h5>Nomor Antrian:</h5>
                <p class="badge bg-primary">{{ data_resep.no_antrian }}</p>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <h5>NIK:</h5>
                <p class="text-muted"><i class="fas fa-calendar-alt"></i> {{ data_resep.nik }}</p>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <h5>Informasi Obat:</h5>
                <table class="table table-bordered">
                  <thead>
                    <tr class="text-center">
                      <th>No.</th>
                      <th>Nama Obat</th>
                      <th>Jenis Obat</th>
                      <th>Jumlah</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for obat in data_obat %}
                    <tr>
                      <td>{{ loop.index }}</td>
                      <td>{{ obat.NamaObat }}</td>
                      <td>{{ obat.JenisObat }}</td>
                      <td>{{ obat.jumlah }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-6 d-grid">
              <a href="{{ url_for('registration') }}" class="btn btn-secondary">Kembali</a>
            </div>
            <div class="col-6 d-grid">
              <button class="btn btn-primary" id="confirmBtn">OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loadingModalLabel">Mohon Tunggu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Sedang memproses pengeluaran obat...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('confirmBtn').addEventListener('click', function() {
    var modal = new bootstrap.Modal(document.getElementById('loadingModal'), {
      backdrop: 'static',
      keyboard: false
    });
    modal.show();

    setTimeout(function() {
      modal.hide();
      window.location.href = "{{ url_for('registration') }}";
    }, 5000);
  });
</script>

{% endblock main %}
